<div class="header">
  <div class="logo">
    <img [routerLink]="['/']" id="logo" src="../../../assets/img/logoPokemon.png" />
  </div>
  <div class="searching">
    <!--     <input type="text" placeholder="Busca a tu pokemon favorito uwu ..." [(ngModel)]="search" (ngModelChange)="onSearch()" /> -->
    <div class="ng-autocomplete">
      <ng-autocomplete [data]="pokemonsAll" [searchKeyword]="keyword" placeholder="Busca a tu pokemon favorito uwu ..."
        (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
  <div id="block-black"></div>

</div>

<div class="container-body">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-cards" *ngIf="pokemons && pokemons.length > 0">
    <app-card
      *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItems }"
      [pokemonData]="pokemon"></app-card>
  </div>
  <div class="pagination">
    <pagination-controls class="my-pagination" (pageChange)="goToPage($event)"
      class="my-pagination"></pagination-controls>
  </div>
</div>